---
id: about
title: Lookbook Demo
---

This is a demo app for showcasing some of the new features coming up in **Lookbook v2.0**.

**New features include:**

* **Preview embeds**: Component preview embeds can now display inspector panels and can be **embedded outside of Lookbook** as well as in documentation pages.
Read more about [external embeds](/embeds) and [embeds with Lookbook pages](<%= page_path(:embeds) %>)

* **"Universal" preview system**: The new preview engine supports previewing many other things in addition to ViewComponents.  
If it can be `render`ed in Rails, it can be previewed 😎 Take a look at the <a href="/lookbook/inspect/other/phlex_example/default">Phlex </a> and <a href="/lookbook/inspect/other/view_example/default">view template</a> examples to see what it's all about.

* **Improved Rails integration**: Lookbook now uses Rails' built in code-reloading system to handle changes in development.
This brings support for forking/multi-threaded servers and
means `listen` and `action_cable` are now optional dependencies, required only for 'live' updates to the UI.
 




 