---
id: about
title: Lookbook Demo
---

This is a demo app for showcasing some of the new features coming up in **Lookbook v2.0**.

### New features:

* **Preview embeds**: Component preview embeds have been supercharged and can now be **embedded outside of Lookbook** as well as in documentation pages.
Check out the [embed examples here &rarr;](/embeds)

* **Universal preview system**: The new preview engine now supports previewing many other things in addition to ViewComponents.  
If it can be rendered in Rails, it can be previewed 😎 Take a look at the <a href="/lookbook/inspect/other/phlex_example/default">Phlex </a> and <a href="/lookbook/inspect/other/view_example/default">view template</a> examples to see what it's all about.

 




 