<div class="prose">

  <h3>This is a custom panel!</h3>

  <p>You can create as many custom panels as you like. Each custom panel uses a partial that lives in your app.</p>

  <p>Panel templates have access to data about the current preview/example as well as about all available previews, pages, components and more.</p>
  
  <p>
    For example, the preview that is currently being rendered is the <strong><%= preview.label %></strong> preview.<br>
    It contains <strong><%= pluralize(examples.size, "example") %></strong> and renders the <strong><%= components.first.name %></strong> component.
  </p>
</div>
