<%
  embeds = [
    {
      name: "Basic Embed",
      props: {
        preview: "Feedback::AlertComponentPreview",
        scenario: "success"
      }
    },
    {
      name: "Tab drawer",
      props: {
        preview: "Feedback::BlankSlateComponentPreview",
        scenario: "default",
        panels: "params,source,output",
      }
    },
    {
      name: "Preview scenario switcher",
      props: {
        preview: "Feedback::AlertComponentPreview",
        scenarios: "danger,success,warning",
        panels: "*"
      }
    }
  ]
%>

<div class="space-y-12">

  <div class="border border-gray-300 rounded-lg p-10 shadow-lg bg-white">  
    <div class="prose prose-lg">
      <h1 class="text-3xl font-bold text-pink-700">Preview Embeds</h1>

      <p>Preview embeds allow you to embed component previews in pages outside of the Lookbook UI, either in the parent app or on another site altogether.</p>

      <p>See the <a href="https://lookbook.build/guide/sharing/embeds">embeds documentation</a> for usage instructions.</p>

      <p>Below are some examples highlighting some of the available configuration options.</p>
    </div>
  </div>
  
  <% embeds.each do |data| %>
    <%= render "demo/embed", **data %>
  <% end %>

</div>

