

<div class="bg-[url('/assets/images/lookbook_bg.svg')]">
<!-- Header section start -->
  <%= render Sections::HeaderComponent.new %>
<!-- Header section end -->
<!-- Hero section start -->
  <%= render Sections::HeroComponent.new %>
<!-- Hero section end -->
<!-- Recipe cards section start -->
  <%= render Sections::RecipeSectionComponent.new %>
<!-- Recipe cards section end -->
<!-- Creator price plan card section start -->
  <%= render Sections::PricingSectionComponent.new %>
<!-- Creator price plan card section end -->
</div>
