<div class=" mt-[6vh] mx-auto  max-w-xl text-center">
  <h1 class="text-3xl font-bold text-pink-700 mb-4">
    <span class="bg-white/70 inline-block px-6 py-3">Lookbook Demo</span>
    </h1>

<div class="border border-gray-300 rounded-lg p-10 shadow-lg text-lg bg-white">  
  <div class="max-w-lg mx-auto">
    
    <p class="text-xl leading-relaxed">
      This is a demo app for <a href="https://lookbook.build" targe="_blank">Lookbook</a>, a UI development environment for Ruby on Rails applications.
    </p>
    <div class="mt-10">
      <a href="<%= lookbook_path %>" class="inline-block py-2.5 px-5 text-base antialiased rounded-md bg-pink-700 text-white no-underline">
        Go to the <strong>Lookbook UI</strong> &rarr;
      </a>
    </div>
    <p class="text-lg mt-10 opacity-80">
     For more info see the <a href="https://lookbook.build">Lookbook docs</a> or <a href="https://github.com/ViewComponent/lookbook">Github repo</a>.
    </p>
    <!--div class="mt-6 text-base">
      <p>Or checkout some <a href="<%= embeds_path %>">preview embed examples</a> 
        <small class="text-amber-700">(new in v2.0!)</small></p>
    </!--div -->

    <!--div class="mt-8 text-sm divide-x divide-gray-500 flex items-center justify-center leading-none">
        <a href="https://lookbook.build/guide" class="text-gray-500/80 no-underline px-2">Documentation</a>
        <a href="https://github.com/ViewComponent/lookbook" class="text-gray-500/80 no-underline px-2">Code & Issues</a>
    </!--div -->
  </div>
</div>
</div>