<div class="p-8">
  <h1 class="text-lg font-bold mb-4">Lookbook Demo App</h1>
  <p>Go play with the <a href="<%= lookbook_path %>" class="text-indigo-700"><span class="underline">Lookbook UI here</span> &rarr;</a></p>
</div>
