<%= tag.header **tag_attributes do %>
  <div class="header-container">
    <a href="<%= root_url %>" class="header-brand">
      <%= render Elements::Icon.new name: :utensils, size: :lg %>
      <span class="header-app-name">
        <strong>Cookbook</strong><span>App</span>
      </span>
    </a>
    <%= nav %>
  </div>
<% end %>