@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

@import-glob "../../components/**/*.css"

@layer base {
  body {
    @apply font-body;
  }
}

@layer utilities {
  .lookbook-logo-bg {
    background-image: url("/assets/lookbook_bg.svg");
    background-size: 60px 60px;
    background-repeat: repeat;
    background-position: 0 20px;
    background-attachment: fixed;
  }
}
