<div class="-m-4 mb-0">
  <%= render Navigation::Primary::Component.new(links: [
    {
      text: "Dashboard",
      href: "#",
      current: true
    },
    {
      text: "Projects",
      href: "#"
    }
  ]) %>
</div>

<div class="mt-8 text-gray-400 text-center space-y-1">
  <p>This example is rendered using a custom template.</p>
  <p>See the comments tab below &darr; for more information.</p>
</div>