<!DOCTYPE html>
<html class="lookbook-logo-bg">
<head>
  <title>Lookbook Demo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <script src="/lookbook-assets/js/lookbook.js" defer></script>

  <%= render "layouts/head" %>
</head>
<body>
  <%= yield %>
</body>
</html>