<!DOCTYPE html>
<html>
<head>
  <title>Lookbook Demo App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= render "layouts/head" %>
</head>
<body class="px-8 py-10 mx-auto max-w-7xl">
  <main>
    <%= yield %>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js"></script>
  <script src="/lookbook-assets/js/lookbook.js"></script>
  <script>Lookbook.initEmbeds();</script>
</body>
</html>