<!DOCTYPE html>
<html>
<head>
  <title>Lookbook Demo App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'tailwindrail', media: 'all' %>
</head>
<body>
    <main class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
    </main>
</body>
</html>